<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection, StructureMap" />
	</configSections>
	<connectionStrings>
		<add name="Example" connectionString="Server=(localdb)\v11.0;AttachDbFileName=|DataDirectory|dbExample.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<location path=".">
		<system.web>
			<compilation debug="true" targetFramework="4.5" />
			<httpRuntime targetFramework="4.5" />
			<pages>
				<controls>
					<add assembly="Company.WebApplication" namespace="Company.WebApplication.Business.Web.UI.WebControls" tagPrefix="WebControls" />
				</controls>
			</pages>
		</system.web>
		<system.webServer>
			<defaultDocument>
				<files>
					<add value="Default.aspx" />
				</files>
			</defaultDocument>
		</system.webServer>
	</location>
	<location path="Pages/HardToTest/EmailForm.aspx">
		<system.web>
			<pages validateRequest="false" />
		</system.web>
	</location>
	<StructureMap>
		<Registry Type="Company.WebApplication.Business.DevelopmentRegistry, Company.WebApplication" />
	</StructureMap>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="noreply@company.net">
				<specifiedPickupDirectory pickupDirectoryLocation="MailBox" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>