<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." xdt:Locator="Match(path)">
		<system.web>
			<compilation xdt:Transform="RemoveAttributes(debug)" />
		</system.web>
	</location>
	<StructureMap xdt:Transform="Replace">
		<Registry Type="Company.WebApplication.Business.ProductionRegistry, Company.WebApplication" />
	</StructureMap>
</configuration>