_ReSharper*/
bin/
debug/
FakesAssemblies/
obj/
packages/*
release/
Solution-Output
testresults/
*.suo
*.user
.nuget/NuGet.exe
Company-Build/Company.Build.Tasks.IntegrationTests/Output/*
Company-Web/Company.MvcApplication/App_Data/
Company-Web/Company.MvcApplication/Scripts/
Company-Web/Company.MvcApplication/Style/
Company-Web/Company.MvcApplication/Web.config
Company-Web/Company.MvcApplication/Views/Web.config
Company-Web/Company.MvpApplication/App_Data/
Company-Web/Company.MvpApplication/Scripts/
Company-Web/Company.MvpApplication/Style/
Company-Web/Company.MvpApplication/Web.config
Company-Web/Company.WebApplication/App_Data/
Company-Web/Company.WebApplication/Scripts/
Company-Web/Company.WebApplication/Style/
Company-Web/Company.WebApplication/MailBox/*

!packages/repositories.config
!Company-Build/Company.Build.Tasks.IntegrationTests/Output/ReadMe.txt
!Company-Web/Company.WebApplication/MailBox/ReadMe.txt