<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<StructureMap xdt:Transform="InsertAfter(/configuration/location)">
		<Registry Type="Company.MvpApplication.Business.TestRegistry, Company.MvpApplication" />
	</StructureMap>
</configuration>