body {
	padding-top: 60px;
	padding-bottom: 20px;
}
code {
	display: block;
	line-height: 1;
	padding: 5px;
}
h1 {
	margin-top: 0;
}
.alert {
	font-size: 70%;
}
.container .jumbotron {
	padding: 24px;
}
.footer,
.navbar-header {
	padding-left: 15px;
	padding-right: 15px;
}
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}
.navigation {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.navigation,
.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li,
.navigation li.selected li {
	font-weight: normal;
	padding-left: 20px;
}
.navigation li.selected {
	font-weight: bold;
}
.navigation .glyphicon {
	margin-left: 10px;
	font-size: 80%;
}
.padding-0 {
	padding: 0;
}
.x-scroll {
	overflow-x: scroll;
	overflow-y: auto;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.navbar-header,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen and (max-width: 298px) {
	body {
		padding-top: 80px;
	}
}