body {
	padding-top: 60px;
	padding-bottom: 20px;
}
code {
	display: block;
	line-height: 1;
	padding: 5px;
}
h1 {
	margin-top: 0;
}
label {
	display: block;
}
.alert h2 {
	margin-top: 0;
}
.content {
	background-color: #eeeeee;
	border-radius: 6px;
	color: inherit;
	margin-bottom: 24px;
	padding: 24px;
}
.footer,
.navbar-header {
	padding-left: 15px;
	padding-right: 15px;
}
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}
.modal .alert {
	margin: 0;
	padding: 0;
}
.modal .alert .modal-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal .alert .modal-header h1,
.modal .alert .modal-header .close {
	color: #fff;
}
.modal .alert .modal-header h1 {
	margin-bottom: 0;
}
.modal .alert .modal-header .close {
	opacity: 1;
}
.modal .alert .modal-body,
.modal .alert .modal-footer {
	color: #333;
}
.modal .alert .modal-body {
	border-bottom: 2px solid;
}
.modal .alert .modal-footer {
	margin: 0;
	padding: 10px 20px 10px 20px;
}
.modal .alert-danger .modal-header {
	background-color: #a94442;
}
.modal .alert-danger .modal-body {
	border-bottom-color: #a94442;
}
.modal .alert-info .modal-header {
	background-color: #31708f;
}
.modal .alert-info .modal-body {
	border-bottom-color: #31708f;
}
.modal .alert-success .modal-header {
	background-color: #3c763d;
}
.modal .alert-success .modal-body {
	border-bottom-color: #3c763d;
}
.modal .alert-warning .modal-header {
	background-color: #8a6d3b;
}
.modal .alert-warning .modal-body {
	border-bottom-color: #8a6d3b;
}
.navigation {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 21px;
	/*line-height: 2.1428571435;*/
}
.navigation,
.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li,
.navigation li.selected li {
	font-weight: normal;
	padding-left: 20px;
}
.navigation li.selected {
	font-weight: bold;
}
.navigation .glyphicon {
	margin-left: 10px;
	font-size: 80%;
}
.padding-0 {
	padding: 0;
}
.x-scroll {
	overflow-x: scroll;
	overflow-y: auto;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.navbar-header,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen and (max-width: 298px) {
	body {
		padding-top: 80px;
	}
}